<mat-card>
    <mat-card-title>Log In</mat-card-title>
    <form #form="ngForm" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field>
                <input matInput type="text" [(ngModel)]="formValues.email"
                    placeholder="Email" name="email" [pattern]="emailPattern" required #emailIdRef="ngModel">
                <mat-error *ngIf="emailIdRef.hasError('required') && emailIdRef.touched">Required!</mat-error>
                <mat-error *ngIf="emailIdRef.hasError('pattern') && emailIdRef.touched">Incorrect Email!!
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput type="{{inputType}}" [(ngModel)]="formValues.password"
                    placeholder="Password" name="password" minlength="6" required #passwordRef="ngModel">
                    <span matSuffix class="material-icons cursor-pointer"
                        (click)="changeVisiblity()">{{visibilityIcon}}</span>
                <mat-error *ngIf="passwordRef.hasError('required') && passwordRef.touched">Required!</mat-error>
                <mat-error *ngIf="passwordRef.hasError('minlength') && passwordRef.touched">Atleast 6
                    characters!
                </mat-error>
            </mat-form-field>
        </div>
        <div class="align-items-center justify-end">
            <button mat-raised-button [disabled]="!form.valid"
                type="submit">Log In</button>
        </div>
    </form>
    
</mat-card>
