<mat-card>
    <mat-card-title>Log In</mat-card-title>
    <form #form="ngForm" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field>
                <input matInput type="text" [(ngModel)]="formValues.email"
                    placeholder="Email" name="email" required #emailIdRef="ngModel">
                <mat-error *ngIf="emailIdRef.hasError('required') && emailIdRef.touched">Required!</mat-error>
                <!-- <mat-error *ngIf="emailIdRef.hasError('pattern') && emailIdRef.touched">Incorrect Email!!
                </mat-error> -->
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput type="text" [(ngModel)]="formValues.password"
                    placeholder="Password" name="password" [pattern]="passwordPattern" required #passwordRef="ngModel">
                <mat-error *ngIf="passwordRef.hasError('required') && passwordRef.touched">Required!</mat-error>
                <mat-error *ngIf="passwordRef.hasError('pattern') && passwordRef.touched">Incorrect password!!
                </mat-error>
            </mat-form-field>
        </div>
        <div class="align-items-center justify-end">
            <button mat-raised-button [disabled]="!form.valid"
                type="submit">Log In</button>
        </div>
    </form>
    
</mat-card>
