<div>
    <p>Total Datas: {{productList?.length}} </p>
    <button mat-button (click)="openDialog('add')">+ Add</button>
</div>
<div *ngIf="productList.length > 0; else noRecord">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="search" appSpecialCharacter appDisableCopyPaste (warning)="warning($event)" aria-label="search" [matAutocomplete]="auto" [formControl]="searchCtrl">
      <mat-autocomplete #auto="matAutocomplete">
      </mat-autocomplete>
    </mat-form-field>
    <p>{{message}}</p>
  </form>
  <section *ngFor="let list of filteredList | async">
    <mat-card >
      <mat-card-title>{{list.productName}}</mat-card-title>
      <mat-card-subtitle>{{list.productDesc}}</mat-card-subtitle>
      <mat-card-actions align="end">
        <button mat-button (click)="openDialog('edit', list)">Edit</button>
        <button mat-button (click)="openDialog('delete',list)">Delete</button>
      </mat-card-actions>
  </mat-card>
</section>
  
</div>
<ng-template #noRecord>
  <p>Record Is Empty</p>
</ng-template>
