<form name="dataForm" #form="ngForm" (ngSubmit)="onSubmit()">
    <div>
        <mat-form-field>
            <input matInput type="text" [(ngModel)]="formValues.productName" placeholder="Name"
                name="name" required #nameRef="ngModel">
            <mat-error *ngIf="nameRef.hasError('required') && nameRef.touched">Required!
            </mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput type="text" [(ngModel)]="formValues.productDesc" placeholder="Username"
                name="username" required #usernameRef="ngModel">
            <mat-error *ngIf="usernameRef.hasError('required') && usernameRef.touched">Required!
            </mat-error>
        </mat-form-field>
    </div>
    <div class="d-flex align-items-center justify-end">
        <button mat-button mat-dialog-close (click)="closeDialog()">Cancel</button>
        <button mat-raised-button [disabled]="!form.valid"
            type="submit">{{type}}</button>
    </div>
</form>
